/*external styling*/
#external {
	color: yellow;
}

/*universal selector*/
*{
	font-family: "Verdana" sans-serif;
	font-size: 20px;	
}

/*type selector*/
h1 {
	font-size: 2rem;
}

/*id selector*/
#things-to-learn {
	text-transform: uppercase;
}

/*class selectors*/
.languages-to-learn {
	background-color: #ace4aa;
}

/*attribute selector*/
li[class] {
	border-width: 1px;
	border-style: solid;
	border-color: navy;
}

/*adjacent sibling selector*/
img + ul {
	list-style-type: lower-alpha;
}

/*descendant selector*/
#other-things img {
	height: 100px;
	width: 100px;
	border-radius: 100px;
}

/*generic sibling selector*/
h4 ~ p {
	text-align: center;
}

/*child selector*/
section > ul > li {
	letter-spacing: 5px;
}